<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DomainApp/src/domainapp/setup/SetUpGen.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="domainapp.setup.SetUpGen"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="configuresecurity"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ProcessMan"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dlogging=true&#10;-Ddebug=SecurityController,SetUpSecurity&#10;-Ddomainapp.setup.systemClass=vn.com.processman.setup.gen.SystemClass"/>
</launchConfiguration>
