<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DomainApp/src/domainapp/setup/Program.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="domainapp.setup.Program"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ProcessMan"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dlogging=true -Ddebug=false&#10;-Ddomainapp.setup.class=domainapp.setup.SetUpGen&#10;-Ddomainapp.setup.systemClass=vn.com.processman.setup.gen.SystemClass&#10;-Ddomainapp.setup.SerialiseConfiguration=false"/>
</launchConfiguration>
